.MuiAppBar-root {
    flex-direction: row !important;
}
.MuiTabs-root {
    margin-left: 20%;
}
.MuiTab-wrapper {
    text-align: left;
    font: normal normal 600 15px/24px ProximaNova;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 1;
}
.Mui-selected .MuiTab-wrapper {
    color: #2BC5B4;
    color: var(--unnamed-color-2bc5b4);
}
.tab-container {
    background-color: #F0FAF8;
}
.tab-content {
    min-height: 80vh;
}
.logo {
    width: 125px;
    height: 40px;
    background: transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    left: 34px;
    top: 25px;
}
.header-right {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}
.notify {
    width: 76px;
    height: 100%;
    border-color: #C1CFD933;
    border-top: none !important;
    border-bottom: none !important;
    text-align: center;
}
.notify-icon {
    width: 16px;
    height: 18px;
    background: transparent url('../../assets/bell.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.alert {
    color: #646D82;
    margin-top: 33px;
    cursor: pointer;
}
.user {
    width: 76px;
    height: 100%;
    text-align: center;
}
.footer {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    bottom: 0;
    margin-top: 33px;
}
.footer-text {
    text-align: left;
    letter-spacing: 0px;
    color: #4CA07A;
    opacity: 1;
    margin-left: 33px;
}
.footer-text1 {
    text-align: left;
    font: normal normal normal 14px/24px ProximaNova;
    letter-spacing: 0px;
    color: #4CA07A;
}
.footer-text2 {
    text-align: left;
    font: normal normal bold 14px/24px ProximaNova;
    letter-spacing: 0px;
    color: #4CA07A;
}
.footer-text-right {
    font: normal normal normal 12px/24px ProximaNova;
    letter-spacing: 1.2px;
    color: #4CA07A;
    text-transform: uppercase;
    opacity: 1;
    margin-right: 32px;
}
.footer-right {
    margin-left: 20px;
}
.user-menu {
    width: 228px;
    height: 57px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    border-bottom: 1px solid #D8EAE6 !important;
}
#user-menu .MuiMenu-paper {
    width: 228px;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 20px #C1CFD975 !important;
    border-radius: 15px !important;
    opacity: 1;
}
.user-menu-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.menu-prof {
    width: 16px;
    height: 16px;
    background: transparent url('../../assets/profile.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.menu-settings {
    width: 16px;
    height: 16px;
    background: transparent url('../../assets/settings.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.menu-problem {
    width: 18px;
    height: 16px;
    background: transparent url('../../assets/report.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.menu-text {
    width: 64px;
    text-align: left;
    font: normal normal normal 14px/24px ProximaNova;
    letter-spacing: 0.42px;
    color: #646D82;
    opacity: 1;
    margin-left: 20px;
}
.menu-arrow {
    width: 6px;
    color: #D2D2DB;
    opacity: 1;
    text-align: right;
    flex-grow: 1;
}
#user-menu .MuiMenu-paper {
    top: 88px !important;
}
.logout-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 57px;
}
.logout-img {
    width: 16px;
    height: 16px;
    background: transparent url('../../assets/logout.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.logout-text {
    text-align: left;
    font: normal normal 600 13px/24px ProximaNova;
    letter-spacing: 1.3px;
    color: #2BC5B4;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 5px;
}