.img-text {
    width: 576px;
    height: 208px;
    text-align: left;
    font: normal normal 900 51px/70px Avenir;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 1px 3px #00000045;
    opacity: 1;
}